:root {
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255, 0, 86);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

body {
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

.btn {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    padding: .6em .75em;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover {
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}

.custom-image {
    background-color: red;
    height: 0;
    width:100%;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "partials/navbar.scss";

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3vw;
    .title {
        color: var(--text-color);
        font-size: 2.5em;
        margin-bottom: .25em;
        font-weight: 900;
    }
    .info {
        color: var(--text-color);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-bottom: 1.25em;
    }
    .col {
        width: 50%;
    };
}

@import "partials/intro-section.scss";
@import "partials/improve-section";
@import "partials/chefs-section";
@import "partials/searches";

.img-preview{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid var(--background-light);
    box-shadow: 0 1px 3px var(--shadow-color);
    margin-top: -50px;
}

.invalid-field {
    border-color: #dc3545;
    color: #dc3545;
    background-color: #fff;
}

.form-file {
    font-size: small;
}

.form-control {
    font-size: small;
}

.recipe-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5em;
}

.recipe-card { 
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);
    .recipe-card-info {
        padding: 15px;
    }
    .custom-image {
        z-index: -1;
    }
    .author-img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid var(--background-light);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -50px;
        z-index: 2;
    }
    .recipe-title {
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: .5em;
        color: var(--text-color);
        margin-top: .25em;
    }
    .recipe-description {
        color: var(--text-light);
        font-size: .9em;
        letter-spacing: 1px;
    }
    .view-recipe-btn {
        font-size: 1em;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: .75em;
        display: inline-block;
        background:none;
        border:none;
        cursor: pointer;
    }
    .delete-recipe-btn {
        font-size: 1em;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: .75em;
        right: 15px;
        background:none;
        border:none;
        cursor: pointer;
        display: inline-block;
        position: absolute;
    }
}

.profile-container {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);
    .custom-image {
        display: inline-block;
        z-index: -1;
        width: 100%;
        padding: 10%;
        border-radius: 5px;
        border: 3px solid var(--background-light);
    }
    .profile-info {
        display: inline-block;
        padding: 15px;
    }
}

.recipes-list-actions{
    display: block;
    h2{
        color: var(--text-color);
        margin-bottom: .5em;
    }
    .action-items-container{
        .action-item{
            background-color: var(--primary-color);
            display: inline-block;
            padding: .5em 1em;
            margin: 0 .75em .75em 0;
            color: #fff;
            border-radius: 30px;
            box-shadow: 0 3px 6px var(--shadow-color);
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.5s) slideInRight forwards;
            cursor: pointer;
        }
    }
}

.main {
    padding-block: 3vw;
}

.container {
    padding-inline: 25vw;
}

@import "partials/animations.scss";

@media screen and (max-width: 1280px) {
    .container{
        padding-inline: 18vw;
    }
}

@media screen and (max-width: 1050px) {
    .container{
        padding-inline: 12vw;
    }
}

@media screen and (max-width: 1280px) {
    .container{
        padding-inline: 18vw;
    }
}

@media screen and (max-width: 768px) {
    .navbar{
        .logo{
            font-size: 1.2em;
        }
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    .section {
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    .skill-item {
        display: inline-block;
        margin: .75em;
    }
    .section.improve .btn {
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .chief-card {
        box-shadow: 0 5px 10px var(--shadow-color);
    }

    .container {
        padding-inline: 6vw;
    }
}

@media screen and (max-width: 480px) {
    .container{
        padding-inline: 3vw;
    }
}